<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_-3XresTbF1EDGQKwkW_U05skrJRI6Uc</string>
	<key>GCM_SENDER_ID</key>
	<string>875374205229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>6499314063</string>
	<key>PROJECT_ID</key>
	<string>wordland-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>wordland-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875374205229:ios:39b53bae783635b7ef1ba4</string>
</dict>
</plist>